* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.img-capa {
    max-width: 20rem; 
    min-width: 10rem;
}

.dados-capa {
    min-width: 25rem;
}

.texto-capa {
    min-width: 30rem;
}

a {
    text-decoration: none;
    color: white;
}
